#circle {
    width: 2vw;
    height: 2vw;
    background-color: #4CAF50; 
    border-radius: 50%;
    position: absolute;
    left: 50vw;
}

#rectangle {
    width: 12vw;
    height: 2vh;
    background-color: blue;
    position: absolute;
    top: 77vh;
}

#rectangle2 {
    width: 12vw;
    height: 2vh;
    background-color: blue;
    position: absolute;
    top: 1vh;
    display: none;
}

#box {
    height:80vh;
    width:92vw;
    position: absolute;
    left: 2vw;
    top: 10vh;
    border-width: 1vw;
    border-style: solid;
    border-color: black;
}

#scoresheet {
    display:flex;
    justify-content: space-between;
}

#ballspeed {
    position: absolute;
    bottom: 1vh;
}

#pausebutton {
    position: absolute;
    bottom: 1vh;
    left: 22vw;
}

#onepaddlebutton {
    position: absolute;
    bottom: 1vh;
    left: 30vw;
}

#twopaddlesbutton {
    position: absolute;
    bottom: 1vh;
    left: 38vw;
}
